/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.form {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 10px;
  padding: 1rem;
}
